version: "3.8"
services:
  postgres:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lavanderia
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
