version: "3.8"
services:
  postgres:
    image: postgres:15-alpine
    container_name: lavanderia_pg
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=lavanderia
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
